h1{
   text-align:center;
   text-transform:uppercase;
   letter-spacing:8px;
}

h2{
   text-align:right;
}

p{
   font-weight:900;
   line-height:2;
}
a{
   text-decoration:underline;
}

h2{
   text-decoration:line-through;
}
h2{
   font-family:Courier New;
   font-size:30px;
}

p{
   font-size:20px;
}
